@import "colors.css";

* {
  font-family: CaskaydiaCove Nerd Font Mono;
  font-size: 14px;
}

window#waybar {
  background-color: @base;
  color: @text;
  /* border-radius: 20px; */
}

#workspaces button {
  background-color: transparent;
  color: #f5e0dc;
  padding: 0px 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
  transition-property: color;
  transition-duration: 4s;
  opacity: 0.75;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @blue;
  border: @blue;
  color: @crust;
  padding: 1px 9px;
  transition-property: background-color;
  transition-duration: 1s;
}

#workspaces button.focused,
#workspaces button.active {
  /* background-color: @yellow; */
  /* color: @crust; */
  background-color: #ff6090;
  color: @crust;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1.0;
}

#workspaces button.urgent {
  background-color: @red;
  color: @crust;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* #workspaces button.hidden {} */

/* -------------------------------------------------------------------------------- */

#custom-launcher,
#window,
#tray,
#cpu,
#memory,
#backlight,
#pulseaudio.audio,
#pulseaudio.microphone,
#network,
#bluetooth,
#battery,
#clock,
#disk,
#idle_inhibator,
#custom-vpn_check,
#custom-weather,
#custom-powermenu {
  color: @text;
  padding: 1px 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -------------------------------------------------------------------------------- */

#window {
  color: @crust;
  /* background-image: linear-gradient(75deg, #06D6A0 50%, #E373A5 50%); */
  background-image: linear-gradient(75deg, #06D6A0 10%, #F3C583 35%, #E373A5 70%, #FCB5AB 90%);
}

/* -------------------------------------------------------------------------------- */

#custom-launcher {
  background-color: @blue;
  color: @crust;
}

#custom-launcher:hover {
  background-color: @sky;
}

#custom-powermenu {
  background-color: @red;
  color: @crust;
}

#custom-powermenu:hover {
  background-color: @maroon;
}

/* -------------------------------------------------------------------------------- */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces,
.modules-left > widget:first-child > #custom-launcher,
.modules-left > widget:first-child > #window,
.modules-left > widget:first-child > #tray,
.modules-left > widget:first-child > #cpu,
.modules-left > widget:first-child > #memory,
.modules-left > widget:first-child > #backlight,
.modules-left > widget:first-child > #pulseaudio.audio,
.modules-left > widget:first-child > #pulseaudio.microphone,
.modules-left > widget:first-child > #network,
.modules-left > widget:first-child > #bluetooth,
.modules-left > widget:first-child > #battery,
.modules-left > widget:first-child > #clock,
.modules-left > widget:first-child > #custom-powermenu {
  margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces,
.modules-right > widget:last-child > #custom-launcher,
.modules-right > widget:last-child > #window,
.modules-right > widget:last-child > #tray,
.modules-right > widget:last-child > #cpu,
.modules-right > widget:last-child > #memory,
.modules-right > widget:last-child > #backlight,
.modules-right > widget:last-child > #pulseaudio.audio,
.modules-right > widget:last-child > #pulseaudio.microphone,
.modules-right > widget:last-child > #network,
.modules-right > widget:last-child > #bluetooth,
.modules-right > widget:last-child > #battery,
.modules-right > widget:last-child > #clock,
.modules-right > widget:last-child > #custom-powermenu {
  margin-right: 5px;
}

/* -------------------------------------------------------------------------------- */

#tray {
  background-color: transparent;
  opacity: 0.3;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

/* -------------------------------------------------------------------------------- */

#cpu {
  /* background-color: @sapphire; */
  /* color: @crust; */
  color: #f5e0dc;
  opacity: 0.5;
  margin-left: 50px;
}

#cpu:hover {
  background-color: @teal;
}

/* -------------------------------------------------------------------------------- */

#disk {
  /* background-color: @yellow; */
  color: #f5e0dc;
  opacity: 0.5;
}

#disk:hover {
  background-color: @teal;
}

/* -------------------------------------------------------------------------------- */

#memory {
  /* background-color: @peach; */
  /* color: @crust; */
  /* color: #94c1e5; */
  color: #f5e0dc;
  opacity: 0.5;
}

#memory:hover {
  background-color: @teal;
}

/* -------------------------------------------------------------------------------- */

#backlight {
  /* background-color: @peach; */
  color: @peach;
  opacity: 0.5;
}

#backlight:hover {
  background-color: @rosewater;
}

/* -------------------------------------------------------------------------------- */

#pulseaudio.audio {
  /* background-color: @crust; */
  color: #f5e0dc;
  /* opacity: 0.5; */
}

#pulseaudio.audio:hover {
  background-color: @pink;
}

#pulseaudio.audio.bluetooth {
  background-color: @blue;
  color: @crust;
}

#pulseaudio.bluetooth:hover {
  background-color: @sky;
}

#pulseaudio.audio.muted {
  /* background-color: #F38BA8; */
  color: #f5e0dc;
  opacity: 0.5;
}

#pulseaudio.audio.muted:hover {
  background-color: @maroon;
}

#pulseaudio.microphone {
  /* background-color: @mauve; */
  color: #f5e0dc;
}

#pulseaudio.microphone:hover {
  background-color: @pink;
}

#pulseaudio.microphone.source-muted {
  /* background-color: #F38BA8; */
  color: #f5e0dc;
  opacity: 0.5;
}

#pulseaudio.microphone.source-muted:hover {
  background-color: @maroon;
}

/* -------------------------------------------------------------------------------- */

#network,
#network.ethernet,
#network.wifi {
  /* background-color: @green; */
  color: @rosewater;
  opacity: 0.5;
}

#network:hover,
#network.ethernet:hover,
#network.wifi:hover {
  background-color: @teal;
}

#network.disabled,
#network.disconnected {
  background-color: @red;
  color: @crust;
}

#network.disabled:hover,
#network.disconnected:hover {
  background-color: @maroon;
}

/* -------------------------------------------------------------------------------- */

/* #bluetooth {} */
#bluetooth.disabled,
#bluetooth.off {
  background-color: @red;
  color: @crust;
}

#bluetooth.disabled:hover,
#bluetooth.off:hover {
  background-color: @maroon;
}

#bluetooth.on,
#bluetooth.connected {
  background-color: @blue;
  color: @crust;
}

#bluetooth.on:hover,
#bluetooth.connected:hover {
  background-color: @sky;
}

/* #bluetooth.discoverable {} */
/* #bluetooth.discovering {} */
/* #bluetooth.pairable {} */

/* -------------------------------------------------------------------------------- */

/* #battery {} */
#battery.full {
  /* background-color: #F38BA8; */
  color: #f5e0dc;
  opacity: 0.5;
}

#battery.full:hover {
  /* background-color: @teal; */
}

#battery.warning {
  color: #f5e0dc;
  background-color: #000;

}

#battery.warning:hover {
  background-color: @rosewater;
}

#battery.critical {
  /* background-color: @red; */
  color: #f5e0dc;
}

#battery.critical:hover {
  /* background-color: @maroon; */
}

#battery.charging,
#battery.plugged {
  /* background-color: #F38BA8; */
  color: #f5e0dc;
  opacity: 0.5;
}

#battery.charging:hover,
#battery.plugged:hover {
  /* background-color: @sky; */
}

/* -------------------------------------------------------------------------------- */

#clock {
  /* background-color: #06D6A0; */
  color: #ff6090;
;
  /* color: @rosewater; */
}

#clock:hover {
  background-color: @text;
}

/* -------------------------------------------------------------------------------- */

#custom-vpn_check {
  /* background-color: #89dceb; */
  /* background-color: @rosewater; */
  color: @rosewater;
  opacity: 0.5;
}

/* -------------------------------------------------------------------------------- */

#idle_inhibitor {
    /* background-color: #2d3436; */
    /* background-color: @flamingo; */
    color: @flamingo;
    padding: 1px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
}
#idle_inhibitor.activated {
    /* background-color: @green; */
    color: #06d6a0;
  opacity: 0.5;
;
}

#idle_inhibitor.deactivated {
    /* background-color: @transparent; */
    /* background-color: #800000; */
    color: #F38BA8;
    /* border-color: #fff; */
    opacity: 0.5;
}
/* -------------------------------------------------------------------------------- */
#custom-weather {
  /* background-color: @overlay2; */
  color: @yellow;
  opacity: 0.5;
}

/* -------------------------------------------------------------------------------- */
